/* From <http://bettermotherfuckingwebsite.com/>.  */
body {
    margin:40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    background-color: #FDF6E3; /* Solarized Background */
    color: #657B83; /* Solarized Primary */
    padding: 0 10px
}
h1, h2, h3 {
    line-height: 1.2
}
a {
    color: #859900; /* Solarized Green */
}
a:visited {
    color: #93A1A1; /* Solarized Secondary */
}