@font-face {
          font-family: 'RadisSans';
          src: url('https://bluehome.net/csh/2021/06/16/font/radis-sans.otf') format('opentype');
      }
      body {
          text-transform: lowercase;
          font-family: "RadisSans";
          font-size: 2em;
          background-color: black;
          color: white;
          background-size: cover;
      }
     strong {
          color: yellow;
          letter-spacing: 0.2em;
          font-style: normal;
     }
     em {
          letter-spacing: 0.2em;
          font-style: normal;
     }
     a {
          text-decoration: none;
          color: black;
          background-color: yellow;
          padding: 0.25em 0.25em;
     }
     a:hover {
          background-color: white; /*font-size: 1.5em;*/ 
     }
     a:active { background-color: white; color: red; font-style: bold;}

code{white-space: pre-wrap;}q{quotes: "“" "”" "‘" "’";}body { font-size: 2em; max-width: 40em; margin: 0px auto; padding: 0em 1em 1em 1em; line-height: 1.6;}header{text-align: center;}text-decoration: none;}img{width: 100%;}hr{border-color: #ccc;border-style:solid;}
